.Header {
  background-color: #3ec1d3;
  height: 120px;
  display: flex;
}

h1 {
  font-size: 60px;
  padding-left: 460px;
  padding-bottom: 40px;
}

.links {
  padding-top: 70px;
  padding-left: 250px;
  text-decoration: none;
}
