/* sign up page styling */

.cont {
  background: url("../Images/karim-manjra-fm9wqDNXyQ0-unsplash.jpg");
  background-size: cover;
  height: 800px;
}

.Holder {
  padding: 7%;
  padding-left: 30%;
  display: flex;
}

.card {
  background-color: yellow;
  height: 250px;
  width: 590px;
  flex-direction: column;
}
